if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") logout
  form(method="POST"  action="/search")
    input(type="text" name="search")
    button(type="submit" value="Search") Search
  a(href="/account/"+session.passport.user.id) Account